*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

/* ---------------------------------nav-bar------------------------------ */
/* ---------------------------------nav-bar------------------------------ */
/* ---------------------------------nav-bar------------------------------ */

.search-result::-webkit-scrollbar{
    width:0.8em
}
.search-result::-webkit-scrollbar-track{
    margin-block:0.5em;
    /* background: black; */
}
.search-result::-webkit-scrollbar-thumb{
    background: rgba(116,203,72,0.7);
    border: 0.2em solid #f1f1f1;
    border-radius: 0.8em ;
    height: 3em;
}


#g_seach {
    overflow-y: auto;
    height: 200px;
    position: absolute;
    top: 90px;
    background-color: black;
}

.n_search{
    vertical-align: middle;
    display: flex;
    padding: 8px;
    margin-top: 7px;
    border-radius: 5px;
}

.search-result{
    color: white;
    display: none;
}

.search-result img{
    height: 35px;
    padding: 2px;
    margin-right: 5px;
}
.search-result span{
    height: 5vh;
    width: 20vw;
    border: none;
    color: white;
    font-family: 'poppins',sans-serif;
    font-weight: 100;
    font-size: 3vh;
}
.search-result div{
    background-color: rgb(255 255 255 / 11%);
    /* display: inline-flex; */
    /* height: 46px; */
    /* width: 223px; */
    padding: 7px;
}

/* .search-result div span{
    
} */


#logo img{
    height:10vh;
    /* width: 30vw; */
    margin-top:2vh;
    margin-bottom:5vh;
    object-fit: cover;
}

#navbar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

#search-engine{
    margin-top:5vh;
    margin-right:10vw;
}


#search{
    height:5vh;
    width:25vw;
    /* border-radius: /; */
    border:none;
    background-color: black;
    color:white;
    border-bottom:solid white;
    font-family: 'poppins',sans-serif;
    font-weight: 100;
    font-size:3vh;
}

#search:focus{
    border:none;
    border-bottom:solid white;
    outline-width: 0;
}

#search-engine{
    display: flex;
    flex-direction:column;
}

#search-button{
    /* margin-top:5vh; */
    /* padding-top:3vh; */
    background-color: transparent;
    border:none;

    /* border:white 2px solid;
    border-radius: 50%; */
    /* align-self: bottom; */
    
}

.material-symbols-outlined{
    color:white;
    padding:5px;
    font-weight: 100;
    font-size: 7vh;
    padding-top: 1.5vh;
    /* height:5vh; */
    
    /* height:5vh; */
}


/* ---------------------------------super image------------------------------ */
/* ---------------------------------super image------------------------------ */
/* ---------------------------------super image------------------------------ */

#content-view{
    margin-top:5vh;
    display:flex;
    flex-direction:row;
    justify-content:start;
}

#super-image img{
    /* float:right; */
    height:60vh;
    margin-left:5vw;
    
}

#super-data{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#super-name p{
    font-family: 'poppins',sans-serif;
    font-weight: 100;
    font-size: 5vh;
    margin-left:5vw;
    margin-right:auto;
}


#biography{
    margin-top:5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





#bio-left{
    font-family: 'poppins',sans-serif;
    font-weight:100;
    font-size:1.2rem;
    margin-left:5vw;

}

#bio-right{
    font-family: 'poppins',sans-serif;
    font-weight:100;
    font-size:1.2rem;
    text-align: right;
    margin-left:20vw;
    /* float: right; */
    
}